In [111]:
import pandas as pd
import numpy as np
import requests
import os

In [112]:
# change max rows displayed in notebook
pd.set_option('display.max_rows', 100)

# Data Acquisition Exercises

## Exercise 1

Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [113]:
# use requests.get to make an http request
base_url = 'https://python.zgulde.net/api/v1/items'
response = requests.get(base_url)
response

In [114]:
# check that response was successful
response.ok

True

In [115]:
# check HTTP response status code
response.status_code

200

In [116]:
# convert response to json and assign to a variable
data = response.json()
data

{'payload': {'items': [{'item_brand': 'Riceland',
    'item_id': 1,
    'item_name': 'Riceland American Jazmine Rice',
    'item_price': 0.84,
    'item_upc12': '35200264013',
    'item_upc14': '35200264013'},
   {'item_brand': 'Caress',
    'item_id': 2,
    'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
    'item_price': 6.44,
    'item_upc12': '11111065925',
    'item_upc14': '11111065925'},
   {'item_brand': 'Earths Best',
    'item_id': 3,
    'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
    'item_price': 2.43,
    'item_upc12': '23923330139',
    'item_upc14': '23923330139'},
   {'item_brand': 'Boars Head',
    'item_id': 4,
    'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
    'item_price': 3.14,
    'item_upc12': '208528800007',
    'item_upc14': '208528800007'},
   {'item_brand': 'Back To Nature',
    'item_id': 5,
    'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
    'item_price': 2.61,
    'item_upc12': '759283100036',
    'item_upc14': '759283100036'},
   {'item_brand': 'Sally Hansen',
    'item_id': 6,
    'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
    'item_price': 6.93,
    'item_upc12': '74170388732',
    'item_upc14': '74170388732'},
   {'item_brand': 'Twinings Of London',
    'item_id': 7,
    'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
    'item_price': 9.64,
    'item_upc12': '70177154004',
    'item_upc14': '70177154004'},
   {'item_brand': 'Lea & Perrins',
    'item_id': 8,
    'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
    'item_price': 1.68,
    'item_upc12': '51600080015',
    'item_upc14': '51600080015'},
   {'item_brand': 'Van De Kamps',
    'item_id': 9,
    'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
    'item_price': 1.79,
    'item_upc12': '19600923015',
    'item_upc14': '19600923015'},
   {'item_brand': 'Ahold',
    'item_id': 10,
    'item_name': 'Ahold Cocoa Almonds',
    'item_price': 3.17,
    'item_upc12': '688267141676',
    'item_upc14': '688267141676'},
   {'item_brand': 'Honest Tea',
    'item_id': 11,
    'item_name': 'Honest Tea Peach White Tea',
    'item_price': 3.93,
    'item_upc12': '657622604842',
    'item_upc14': '657622604842'},
   {'item_brand': 'Mueller',
    'item_id': 12,
    'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
    'item_price': 8.4,
    'item_upc12': '74676640211',
    'item_upc14': '74676640211'},
   {'item_brand': 'Garnier Nutritioniste',
    'item_id': 13,
    'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
    'item_price': 6.47,
    'item_upc12': '603084234561',
    'item_upc14': '603084234561'},
   {'item_brand': 'Pamprin',
    'item_id': 14,
    'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
    'item_price': 7.54,
    'item_upc12': '41167300121',
    'item_upc14': '41167300121'},
   {'item_brand': 'Suave',
    'item_id': 15,
    'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
    'item_price': 9.11,
    'item_upc12': '79400847201',
    'item_upc14': '79400847201'},
   {'item_brand': 'Burts Bees',
    'item_id': 16,
    'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
    'item_price': 5.17,
    'item_upc12': '792850014008',
    'item_upc14': '792850014008'},
   {'item_brand': 'Ducal',
    'item_id': 17,
    'item_name': 'Ducal Refried Red Beans',
    'item_price': 1.16,
    'item_upc12': '88313590791',
    'item_upc14': '88313590791'},
   {'item_brand': 'Scotch',
    'item_id': 18,
    'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
    'item_price': 4.39,
    'item_upc12': '21200725340',
    'item_upc14': '21200725340'},
   {'item_brand': 'Careone',
    'item_id': 19,
    'item_name': 'Careone Family Comb Set - 8 Ct',
    'item_price': 0.74,
    'item_upc12': '41520035646',
    'item_upc14': '41520035646'},
   {'item_brand': 'Usda Produce',
    'item_id': 20,
    'item_name': 'Plums Black',
    'item_price': 5.62,
    'item_upc12': '204040000000',
    'item_upc14': '204040000000'}],
  'max_page': 3,
  'next_page': '/api/v1/items?page=2',
  'page': 1,
  'previous_page': None},
 'status': 'ok'}

In [117]:
# convert items within json format to a dataframe
items = pd.DataFrame(data['payload']['items'])
items.head(2)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925

In [118]:
# pull items from next page
response = requests.get('https://python.zgulde.net' + data['payload']['next_page'])
# convert items to json
data = response.json()

In [119]:
# convert json to dataframe and concatenate onto original 
items = pd.concat([items, pd.DataFrame(data['payload']['items'])]).reset_index(drop=True)
items.tail(2)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
38,Munchies,39,Munchies Sandwich Crackers Cheddar Cheese On G...,9.02,28400029254,28400029254
39,Amys,40,Amys Light & Lean Spaghetti Italiano,0.60,42272008063,42272008063

In [120]:
# pull items from next page
response = requests.get('https://python.zgulde.net' + data['payload']['next_page'])
# convert items to json
data = response.json()

In [121]:
# convert json to dataframe and concatenate onto original 
items = pd.concat([items, pd.DataFrame(data['payload']['items'])]).reset_index(drop=True)
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

## Exercise 2

Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [122]:
# use requests.get to make an http request
base_url = 'https://python.zgulde.net/api/v1/stores'
response = requests.get(base_url)

In [123]:
# convert response to json and assign to a variable
data = response.json()
data

{'payload': {'max_page': 1,
  'next_page': None,
  'page': 1,
  'previous_page': None,
  'stores': [{'store_address': '12125 Alamo Ranch Pkwy',
    'store_city': 'San Antonio',
    'store_id': 1,
    'store_state': 'TX',
    'store_zipcode': '78253'},
   {'store_address': '9255 FM 471 West',
    'store_city': 'San Antonio',
    'store_id': 2,
    'store_state': 'TX',
    'store_zipcode': '78251'},
   {'store_address': '2118 Fredericksburg Rdj',
    'store_city': 'San Antonio',
    'store_id': 3,
    'store_state': 'TX',
    'store_zipcode': '78201'},
   {'store_address': '516 S Flores St',
    'store_city': 'San Antonio',
    'store_id': 4,
    'store_state': 'TX',
    'store_zipcode': '78204'},
   {'store_address': '1520 Austin Hwy',
    'store_city': 'San Antonio',
    'store_id': 5,
    'store_state': 'TX',
    'store_zipcode': '78218'},
   {'store_address': '1015 S WW White Rd',
    'store_city': 'San Antonio',
    'store_id': 6,
    'store_state': 'TX',
    'store_zipcode': '78220'},
   {'store_address': '12018 Perrin Beitel Rd',
    'store_city': 'San Antonio',
    'store_id': 7,
    'store_state': 'TX',
    'store_zipcode': '78217'},
   {'store_address': '15000 San Pedro Ave',
    'store_city': 'San Antonio',
    'store_id': 8,
    'store_state': 'TX',
    'store_zipcode': '78232'},
   {'store_address': '735 SW Military Dr',
    'store_city': 'San Antonio',
    'store_id': 9,
    'store_state': 'TX',
    'store_zipcode': '78221'},
   {'store_address': '8503 NW Military Hwy',
    'store_city': 'San Antonio',
    'store_id': 10,
    'store_state': 'TX',
    'store_zipcode': '78231'}]},
 'status': 'ok'}

In [124]:
# convert items within json format to a dataframe
stores = pd.DataFrame(data['payload']['stores'])
stores

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

## Exercise 3

Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [125]:
# create a function to pull sales data
def get_sales_data(base_url):
    
    if os.path.isfile('sales.csv'):
        sales = pd.read_csv('sales.csv', index_col=0)
        
    else:     
        # use requests.get to make an http request
        response = requests.get(base_url)
        # convert response to json and assign to a variable
        data = response.json()
        # convert items within json format to a dataframe
        sales = pd.DataFrame(data['payload']['sales'])
    
        while data['payload']['next_page'] != None:
            # pull items from next page
            response = requests.get('https://python.zgulde.net' + data['payload']['next_page'])
            # convert items to json
            data = response.json()
            # convert json to dataframe and concatenate onto original 
            sales = pd.concat([sales, pd.DataFrame(data['payload']['sales'])]).reset_index(drop=True)
        
    # Cache data
    sales.to_csv('sales.csv')
    
    return sales

In [126]:
# use function to pull in sales data
base_url = 'https://python.zgulde.net/api/v1/sales'
sales = get_sales_data(base_url)

In [127]:
# check # of rows and columns in sales
sales.shape

(913000, 5)

## Exercise 4

Save the data in your files to local csv files so that it will be faster to access in the future.

In [128]:
# sales was saved to local file in previous function

In [129]:
# save items to local csv file
items.to_csv('items.csv')

In [130]:
# save stores to local csv file
stores.to_csv('stores.csv')

## Exercise 5

Combine the data from your three separate dataframes into one large dataframe.

In [131]:
# check column names
items.columns

Index(['item_brand', 'item_id', 'item_name', 'item_price', 'item_upc12',
       'item_upc14'],
      dtype='object')

In [132]:
# check shape
items.shape

(50, 6)

In [133]:
# check column names
stores.columns

Index(['store_address', 'store_city', 'store_id', 'store_state',
       'store_zipcode'],
      dtype='object')

In [134]:
# check shape
stores.shape

(10, 5)

In [135]:
# check column names
sales.columns

Index(['item', 'sale_amount', 'sale_date', 'sale_id', 'store'], dtype='object')

In [136]:
# check shape
sales.shape

(913000, 5)

In [137]:
# rename columns in sales to match columns in other dataframes
sales = sales.rename(columns={'item':'item_id', 'store':'store_id'})
sales.head(2)

   item_id  sale_amount                      sale_date  sale_id  store_id
0        1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1         1
1        1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2         1

In [138]:
# merge on column name found in both dataframes
df = sales.merge(items, how='left', on='item_id')
df.head(2)

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [139]:
# merge on column name found in both dataframes
df = df.merge(stores, how='left', on='store_id')
df.head(2)

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,TX,78253

In [140]:
# check shape
df.shape

(913000, 14)

## Exercise 6

Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [141]:
# convert response to json and assign to a variable
df = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
df.head(3)

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN

## Exercise 7

Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [142]:
# create a function to pull data
def get_zgulde_data(base_url, end_point):
    '''
    This function takes in a base url and end point, checks and returns a dataframe, if the file is 
    saved locally, otherwise makes an http request and returns all pages requested from the API as a 
    dataframe and saved the file locally as a csv
    '''
    if os.path.isfile(end_point + '.csv'):
        return pd.read_csv(end_point + '.csv', index_col=0)
        
    else:     
        # use requests.get to make an http request
        response = requests.get(base_url)
        # convert response to json and assign to a variable
        data = response.json()
        # convert items within json format to a dataframe
        df = pd.DataFrame(data['payload'][end_point])
    
        while data['payload']['next_page'] != None:
            # pull items from next page
            response = requests.get('https://python.zgulde.net' + data['payload']['next_page'])
            # convert items to json
            data = response.json()
            # convert json to dataframe and concatenate onto original 
            df = pd.concat([df, pd.DataFrame(data['payload'][end_point])]).reset_index(drop=True)
        
    # Cache data
    df.to_csv(end_point + '.csv')
    
    return df

In [144]:
# use requests.get to make an http request
base_url = 'https://python.zgulde.net/api/v1/items'
end_point = 'items'

stores = get_zgulde_data(base_url, end_point)
items.head(2)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925

In [69]:
# create a function to combine data
def combine_items_stores_sales(sales, items, stores):
    '''
    This function takes in three dataframes, merges them, and returns a combined dataframe
    '''
    # rename columns in sales to match columns in other dataframes
    sales = sales.rename(columns={'item':'item_id', 'store':'store_id'})
    # merge on column name found in both dataframes
    df = sales.merge(items, how='left', on='item_id')
    # merge on column name found in both dataframes
    df = df.merge(stores, how='left', on='store_id')
    
    return df

In [70]:
df = combine_items_stores_sales(sales, items, stores)
df.shape

(913000, 14)

In [71]:
# create a function to acquire open power systems data
def acquire_open_power_systems_data():
    '''
    This function reads in csv data and returns a dataframe
    '''
    # convert response to json and assign to a variable
    df = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
    
    return df

In [73]:
df = acquire_open_power_systems_data()
df.shape

(4383, 5)

In [ ]:
# create a file to read in csv data
def read_csv(str_file_path):
    '''
    This function takes in a csv file path as a string, reads in the data, and returns a dataframe
    '''
    df = pd.read_csv(str_file_path)
    
    return df